{% extends 'index.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>About Us</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Aditya</h5>
                        <p class="card-text">Hello, I am Aditya Kansara currently pursuing M.Tech in CSE from IIT Bombay. I'm from Ahmedabad and completed my B.Tech
                        in Computer Engineering from L. D. College of Engineering, Ahmedabad. Getting into one of the top 7 IITs has been my
                        dream since I was in 12th standard, I started preparing for GATE in my 3rd year of B.Tech. and today by the grace of
                        god, the support of my family, and of course lot of hard work, I'm here. This journey would never be possible without
                        these supporting environments. Blessed & Grateful!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Jay</h5>
                        <p class="card-text">Hello! I am Jay Gorakhiya
                        I am pursuing M.Tech (RA) in India's one of the best Engineering Colleges, Indian Institute of Technology Bombay! I am
                        from small town called Amreli located in Gujarat state. I completed my high school from Saint Mary's High School,
                        Amreli. After that I did my 12th from Gyanmanjari Vidhyapith, Bhavnagar and prepared for JEE with a dream of getting
                        admission into IITs for Bachelors. But unfortunately it didn't work out then. I graduated as B.Tech in Computer
                        Engineering from Dharmsinh Desai University, Nadiad in 2022. After that I dedicated one year for GATE preparations which
                        landed me where I am today and finally my dream of studying at IIT is achieved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}