<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index: Course Data Viz</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Course Data Viz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown" id="userDropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdownMenu" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span id="userName">
                                {{ user.username }} ({{user.groups.get}})
                            </span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdownMenu">
                                <a class="dropdown-item" href="/upload_data/" id="insertDataButton">Upload Data</a>
                            <a class="dropdown-item" href="/logout/" id="logoutButton">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}


    <footer class="bg-dark text-light py-4 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Contact Information</h4>
                    <p>If you have any questions or need assistance, feel free to get in touch with us:</p>
                    <ul class="list-unstyled">
                        <li>Email: <a href="mailto:23m0748@iitb.ac.in">23m0748@iitb.ac.in</a></li>
                        <li>Email: <a href="mailto:23m0825@iitb.ac.in">23m0825@iitb.ac.in</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
            </div>
            <hr class="my-2">
            <p class="text-center">&copy; 2023 Course Data Viz</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>